beforename {
    .fromList .item{ padding-right:16px;}
    .fromList .item:last-child .item-inner{border-bottom: none;} 
    .label-ios{margin-right: 0}
    .fromList .border0 .item-inner{border:0}
    .iconfont{color:#ff7f00}
    .list-div .txt {display: inline-block;background-color: #cae4fd;padding: .4rem .9rem;color: #25517c;border: 1px solid #b2d9ff;}
}
