<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="from" autocomplete="off">
    <ion-item>
      <ion-label fixed>手 机 号</ion-label>
      <ion-input type="tel" placeholder="请输入11位手机号码" formControlName="phoneNumber"></ion-input>
    </ion-item>
    <div class="errorForm" *ngIf="formErrors.phoneNumber">{{formErrors.phoneNumber}}</div>
    <verification-code [verifyCode]=verifyCode [form]=from (onVoted)="onVoted($event);"></verification-code>
    <ion-item>
      <ion-label fixed>新密码</ion-label>
      <ion-input type="password" placeholder="请输入至少6位新密码" #password formControlName="passWord"></ion-input>
    </ion-item>
    <div class="errorForm " *ngIf="formErrors.passWord">{{formErrors.passWord}}</div>
    <ion-item>
      <ion-label fixed>确认密码</ion-label>
      <ion-input type="password" placeholder="请再次输入新密码" #password formControlName="conFirmPassWord"></ion-input>
    </ion-item>
    <div class="errorForm" *ngIf="(from.get('conFirmPassWord').hasError('match')) && from.get('conFirmPassWord').value">{{validationMessages.conFirmPassWord.match}}</div>
    <div class="marginTop2">
      <button (click)="resetPassword()" ion-button block class="button-bule" [disabled]="!from.valid">确定</button>
    </div>
  </form>
</ion-content>