page-onlineverification {
    .projectName{background: #e3f1fd;color: #333333;padding: 24px 16px;text-align: center;font-size: 1.7rem}
    .newSubTitle{background: #f2f5f8;font-size: 1.4rem;padding: 8px 16px;}
    .list-ios .item-block .item-inner{border-bottom: 0px}
    input::-webkit-input-placeholder {font-size: 13px} 
}
