newtip {
    .newSubTitle{padding: 8px 16px;color: #000;font-weight: 500;font-size: 1.6rem}
    .newSubTitle .right{color: #11c1f3;} 
    .newSubTitle .right ion-icon::before{margin-right: .5rem;font-weight: bold}
}
