<ion-header>
  <ion-navbar>
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content #container> 
  <img src="assets/imgs/banner.png" imageViewer="assets/imgs/banner.png" alt="" class="width100">
  <div padding class="box">
    <ul class="ul33 homeNav">
      <li *ngFor="let item of navList;let index=index" (click)="clickNav(index)">
        <i class="iconfont" [ngClass]="item.ionfont"></i>
        <p>{{item.txt}}</p>
      </li>
    </ul>
  </div>

  <div padding class="box">
    <ul class="ul50 boxList">
      <li class="flexBox" *ngFor="let item of boxList;let index =index" (click)="clickBox(index)">
        <div class="flex1LeftContent marginRight1">
          <h2 class="font16 inlineBlock">{{item.title}}</h2>
          <br />
          <span class="font12">{{item.txt}}</span>
        </div>
        <div class="flexContent marginRight1">
          <img src="{{item.img}}" class="width5">
        </div>
      </li>
    </ul>
  </div>
 
  <!-- 
    滑动加载图片 懒加载
    defaultImage = "默认图片"
    lazyLoad = "加载的图片"
    scrollObservable = "滑动"
    offset = 动画的时间   

    // 图片预览
    imageViewer="图片"
  -->
  <div class="box">
    <tip background="#FFFFFF" title='最新资讯' moreValue="更多" (goMore)="goMore()"></tip>
    <ion-list class="myList">
      <ion-item *ngFor="let item of NewList" class="navBox">
        <div class="limit1">{{item.Title}}</div>
        <img defaultimage  imageViewer="{{item.TitleImg}}" [lazyLoad]="item.TitleImg"  [scrollObservable]="container.ionScroll"/>
        <div class="limit1">{{item.SubTile}}</div>
      </ion-item>
    </ion-list>
  </div>
 

</ion-content>