page-guidedetails {

    .guideTable table {
        width: 300% !important;
        border-collapse: collapse;
        font-size: 13px;
        text-align: center;
        border: 1px solid #555;
    }

    .guideTable table th, .guideTable table td {
        border: 1px solid #555;
        vertical-align: middle;
    }

}
